<button class="btn btn-primary col-6" onclick="bookmarkModal()">
    <i id="bookmarkSymbol" class="fa-regular fa-bookmark" style="--fa-animation-iteration-count: 1;"></i>
    <span class="bookmarkText"> Save Roadmap</span>
</button>