<nav class="navbar fixed-bottom navbar-expand-lg py-1 colour-navbar">
  <div class="container d-flex justify-content-between">
    <div>

        <a href="#" class="btn py-0 d-flex flex-column align-items-center">
          <span class="material-symbols-outlined"> home </span>
          <span class="small" style="color:white; font-size: 0.7em;">Home</span>
        </a>
    </div>
    <div>
      <a href="#" class="btn py-0 d-flex flex-column align-items-center">
        <span class="material-symbols-outlined"> map </span>
        <span class="small" style="color:white; font-size: 0.7em;">Roadmaps</span>
      </a>
     
    </div>
    <div>
      <a href="#" class="btn py-0 d-flex flex-column align-items-center">
          <span class="material-symbols-outlined"> settings </span>
          <span class="small" style="color:white; font-size: 0.7em;">Settings</span>
      </a>
    </div>
    <!-- <div>
      <a href="#" class="btn btn-primary">
        Test
      </a>
    </div> -->
  </div>
</nav>
