<!-- <div class="block-height-63"></div> -->
<header>
<nav class="navbar fixed-top navbar-expand-lg py-0 colour-navbar">
  <div class="container-fluid px-5">
    <div class="block-width-36">
      <a
        href="#"
        class="btn p-0 m-0">
        <img src="back_button.png" alt="Home">
      </a>
    </div>
    <div>
      <img
        src="./LogoHeaderBar.png"
        alt="app logo"
        class="block-height-63" />
    </div>
    <div class="block-width-36">
      <button class="btn btn-outline-light" value="Logout" onclick="window.location.href='/logout'">Logout</button>
    </div>
  </div>
</nav>
<div class="block-height-63"></div>

</header>