
  <style>
    .modal-body-custom {
      height: 500px;
    }
  </style>


  <nav class="navbar fixed-bottom navbar-expand-lg py-1 colour-navbar">
    <div class="container d-flex justify-content-between">
      <div>
        <a href="/main" class="btn py-0 my-0 d-flex flex-column align-items-center">
          <img src="home_button.png" alt="Home">
          <span class="small" style="color:white; font-size: 0.7em;">Home</span>
        </a>
      </div>
      <div>
        <a href="/savedRoadmaps" class="btn py-0 my-0 d-flex flex-column align-items-center">
          <img src="map_button.png" alt="Home">
          <span class="small" style="color:white; font-size: 0.7em;">My Maps</span>
        </a>
      </div>
      <div>
        <!-- Add a button to trigger the modal popup -->
      <a href="/settings" class="btn py-0 my-0 d-flex flex-column align-items-center">
        <img src="settings_button.png" alt="Home">
        <span class="small" style="color:white; font-size: 0.7em;">Settings</span>
      </a>
      </div>
    </div>
  </nav>



  <!-- Include the jQuery and Bootstrap JavaScript files -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




