<nav class="navbar fixed-bottom navbar-expand-lg py-1 colour-navbar">
  <div class="container d-flex justify-content-between">
    <div>
<!-- 
        <a href="#" class="btn py-0 d-flex flex-column align-items-center">
          <span class="material-symbols-outlined"> home </span>
          <span class="small" style="color:white; font-size: 0.7em;">Home</span>
        </a> -->

        <a href="#" class="btn py-0 d-flex flex-column align-items-center">
          <img src="home_button.png" alt="Home">
          <span class="small" style="color:white; font-size: 0.7em;">Home</span>
        </a>


    </div>
    <div>
      <a href="#" class="btn py-0 d-flex flex-column align-items-center">
        <img src="map_button.png" alt="Home">
        <span class="small" style="color:white; font-size: 0.7em;">My Maps</span>
      </a>
     
    </div>
    <div>
      <a href="#" class="btn py-0 d-flex flex-column align-items-center">
        <img src="settings_button.png" alt="Home">
        <span class="small" style="color:white; font-size: 0.7em;">Settings</span>
      </a>
    </div>
    <!-- <div>
      <a href="#" class="btn btn-primary">
        Test
      </a>
    </div> -->
  </div>
</nav>
