<!-- <div class="block-height-63"></div> -->
<header>
  <nav class="navbar fixed-top navbar-expand-lg p-0 colour-navbar">
    <div class="container-fluid px-5">
      <div class="block-width-36">
        <a href="#" id="btnBack" class="btn p-0 m-0">
          <img src="back_lrg.png" alt="Home" style="height: 40px">
        </a>
      </div>
      <div>
        <img src="./LogoHeaderBar.png"  alt="app logo" class="block-height-63" />
      </div>
      <div class="block-width-36">
        <!-- logout button with HTTP Post request -->
        <form action="/logout" method="POST" class="mb-0">
          <button type="submit" id="logoutBtn" class="btn btn-outline-light" value="Logout"><span>Logout</span></button>
        </form>
      </div>
    </div>
  </nav>
  <div class="block-height-63"></div>

</header>
</header>