<!-- <div class="block-height-63"></div> -->
<header>
<nav class="navbar fixed-top navbar-expand-lg py-0 colour-navbar">
  <div class="container-fluid px-5">
    <!-- <div class="block-width-36"> -->
    <div style="width:76px;">
      <a
        href="#"
        class="btn p-0 my-0">
        <img src="back_button.png" alt="Home">
      </a>
    </div>
    <div>
      <img
        src="./LogoHeaderBar.png"
        alt="app logo"
        class="block-height-63" />
    </div>
    <!-- <div class="block-width-36"> -->
    <div>
      <button id="btnLogout" class="btn btn-outline-light my-0">Logout</button>
    </div>
  </div>
</nav>
<div class="block-height-63"></div>
</header>