<!-- <div class="block-height-63"></div> -->
<header>
  <nav class="navbar fixed-top navbar-expand-lg py-0 px-0 colour-navbar">
    <div class="container-fluid px-5">
      <div class="block-width-36">
        <a href="#" id="btnBack" class="btn p-0 m-0">
          <img src="back_lrg.png" alt="Home" height="40px">
        </a>
      </div>
      <div>
        <img src="./LogoHeaderBar.png" alt="app logo" class="block-height-63" />
      </div>
      <div class="block-width-36">
        <button id="logoutBtn" class="btn btn-outline-light" value="Logout"
          onclick="window.location.href='/logout'"><span>Logout</span></button>
      </div>
    </div>
  </nav>
  <div class="block-height-63"></div>

</header>