
  <style>
    .modal-body-custom {
      height: 500px;
    }
  </style>

  <!-- <nav class="navbar fixed-bottom navbar-expand-lg py-1 colour-navbar"> -->
  <nav class="navbar fixed-bottom py-1 px-0 colour-navbar">
    <div class="container d-flex justify-content-between">
      <div style="min-width: 100px; min-height: 68.4px;">
        <!-- <div> -->
        <a href="/main" class="btn py-0 my-0 d-flex flex-column align-items-center">
          <img src="home_lrg.png" alt="Home" style="height: 50px;">
          <span class="small"
            style="color:white; font-size: 0.7em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 75.6px;">Home</span>
        </a>
      </div>
      <!-- <div> -->
        <div id="footer-icon-middle" style="width: 200px; min-height: 68.4px;">
        <a href="/savedRoadmaps" class="btn py-0 my-0 d-flex flex-column align-items-center">
          <img src="map_lrg.png" alt="Home" style="height: 50px;">
          <span class="small"
            style="color:white; font-size: 0.7em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 75.6px;">My Maps</span>
        </a>
      </div>
      <!-- <div> -->
        <div style="width: 100px; min-height: 68.4px;">
        <!-- Add a button to trigger the modal popup -->
      <a href="/settings" class="btn py-0 my-0 d-flex flex-column align-items-center">
        <img src="settings_lrg.png" alt="Home" style="height: 50px;">
        <span class="small"
          style="color:white; font-size: 0.7em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 75.6px;">Settings</span>
      </a>
      </div>
    </div>
  </nav>

  <!-- Include the jQuery and Bootstrap JavaScript files -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




