
<header>
<nav class="navbar fixed-top navbar-expand-lg p-0 colour-navbar">
  <div class="container-fluid px-5">
    <div class="block-width-36" >
    
    </div>
    <div>
      <img
        src="./LogoHeaderBar.png"
        alt="app logo"
        class="block-height-63" />
    </div>
    <div class="block-width-36"></div>
  </div>
</nav>
<div class="block-height-63"></div>
</header>