<header>
  <nav class="navbar fixed-top navbar-expand-lg p-0 colour-navbar">
    <div class="container-fluid px-5">
      <!-- Back button -->
      <div class="block-width-36">
      </div>
      <!-- Logo -->
      <div>
        <a href="/" class="block-height-63">
          <img src="./LogoHeaderBar.png"  alt="app logo" class="block-height-63" />
        </a>
      </div>
      <div class="block-width-36">
        <!-- logout button with HTTP Post request -->
        <form action="/logout" method="POST" class="mb-0">
          <button type="submit" id="logoutBtn" class="btn btn-outline-light" value="Logout"><span>Logout</span></button>
        </form>
      </div>
    </div>
  </nav>
  <div class="block-height-63"></div>
</header>