<link rel="stylesheet" href="./styles/roadmap.css" type="text/css">
<h1>Roadmap</h1>
<ul>
    <li id="step1" class="rotate-out">Step 1</li>
    <li id="step2" class="rotate-in">Step 2</li>
    <li id="step3" class="rotate-out">Step 3</li>
    <li id="step4" class="rotate-out">Step 4</li>
</ul>