<link rel="stylesheet" href="./styles/roadmap.css" type="text/css">
<h1>Roadmap</h1>
<ul>
    <% steps.forEach(function(step, index) { %>
        <% if (index % 2==0) { %>
            <li class="rotate-out even">
                <% } else { %>
            <li class="rotate-in odd">
                <% } %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="step<% index + 1 %>">
                        <label class="form-check-label" for="step<% index + 1 %>">Step <%= index + 1 %></label>
                        <p>
                            <%= step %>
                        </p>
                    </div>
            </li>
            <% }); %>
</ul>