<style>
    .VIpgJd-ZVi9od-ORHb {
        display: none;
    }

    .VIpgJd-ZVi9od-l4eHX-hSRGPD {
        display: none;
    }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

<%- include('components/headHTML.ejs') %>
    <%- include('components/navbar_header_before_signin.ejs') %>
        <link rel="stylesheet" type="text/css" href="./styles/main.css" />

        <div id="google_translate_element style=display: none;"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
            }
        </script>

        <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            // Detect and store the language
            var language = navigator.language || navigator.userLanguage;
            // Use the language variable as needed
            console.log('Detected language:', language);
        </script>
          
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="error-template">
            <div class="text-center">
                <img src="happyface.png" alt="200 Success" class="success-image img-fluid" height="100px">
            </div>
          <% if (typeof reset !=='undefined' ) { %>
            <h3 class="mb-3" style="text-align: center;">Reset link sent successfully!</h3>
            <h4 class="mb-3" style="text-align: center;">Thanks for you for your patience</h4>
          <% } else { %>
            <h3 class="mb-3" style="text-align: center;">Email sent successfully!</h3>
            <h4 class="mb-3" style="text-align: center;">Thanks for sharing your journey</h4>
          <% } %>
        <div class="text-center">
          <% if (typeof reset !=='undefined' ) { %>
            <a href="/login" class="btn btn-warning">Return to Login</a>
          <% } else { %>
            <a href="/savedRoadmaps" class="btn btn-warning">Return to Maps</a>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>
                <div class="spacer py-5"></div>
                <script src="../scripts/main.js"></script>
                <%- include('components/footer.ejs') %>
                    </body>
                    </html>