<style>
    .VIpgJd-ZVi9od-ORHb-oEVmcd {
        display: none;
    }
</style>



<%- include('components/headHTML.ejs') %>
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />

    <div id="google_translate_element style=display: none;"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>




    <h1> Welcome, <span id="namePlaceholder"></span> !</h1>

    <!-- the code below was copied from the chatGPT website and subsequently edited by Oceaan -->
    <div class="md:flex items-start text-center gap-3.5 container">
        <div class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1">
            <div class="box colour-yellow">
                <h2 class="flex gap-3 items-center m-auto text-lg font-normal md:flex-col md:gap-2 colour-yellow"><svg
                        stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>Examples</h2>
                <ul class="flex flex-col gap-3.5 w-full sm:max-w-md m-auto colour-yellow"><button
                        class="w-full bg-gray-50 dark:bg-white/5 p-3 rounded-md hover:bg-gray-200 dark:hover:bg-gray-900">"What
                        is a tenancy agreement?"</button><button
                        class="w-full bg-gray-50 dark:bg-white/5 p-3 rounded-md hover:bg-gray-200 dark:hover:bg-gray-900">"How
                        do I navigate the city using transit?"</button><button
                        class="w-full bg-gray-50 dark:bg-white/5 p-3 rounded-md hover:bg-gray-200 dark:hover:bg-gray-900">"How
                        do I get a credit card?"</button>
                </ul>
            </div>
            <div class="input-field">
                <input type="text" placeholder="What do you need help with?" id="textInput">
                <i class="fas fa-paper-plane" id="submitBtn"></i>
            </div>
        </div>

        <!-- div for GPT's answer -->
        <div id="roadmapGoesHere">
            <%- include('components/roadmap.ejs') %>
        </div>



    </div>
    <script src="../scripts/main.js"></script>
    <%- include('components/footer.ejs') %>