<%- include('components/headHTML.ejs') %>

<body>
  <%- include('components/navbar_header_before_signin.ejs') %>

  <div id="google_translate_element style=display: none;"></div>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en'
      }, 'google_translate_element');
    }
  </script>

  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <section class="vh-100" style="background-color: #eee">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">
                    Reset Password
                  </p>
                  <div class="d-flex flex-row align-items-center mb-2">
                    <form class="form-floating flex-fill mb-0 container" action="/sendResetEmail" method="post">
                      <div class="row">
                        <div class="col">
                          <div class="row align-items-center">
                            <i class="col-auto fas fa-lock"></i>
                            <input type="email" id="inputEmail" class="col form-control" name="inputEmail" placeholder="Enter your e-mail" required>
                          </div>
                          <div class="row align-items-center">
                            <i class="col-auto fas fa-lock" style="opacity: 0"></i>
                            <p class="col" style="font-size: 12px; color: gray">
                              We'll never share your email with anyone else. </p>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="col-auto btn btn-warning btn-lg mb-3">
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

  </section>

  <%- include('components/footer.ejs') %>
  <script src="../scripts/login.js"></script>
</body>

</html>