<%- include('components/headHTML.ejs') %>
<body>

<style>
  .VIpgJd-ZVi9od-ORHb-oEVmcd {
    display: none;
  }
</style>
<%- include('components/navbar_header.ejs') %>
<style>
  .VIpgJd-ZVi9od-ORHb-oEVmcd {
    display: none;
  }
</style>

<%- include('components/headHTML.ejs') %>
  <link rel="stylesheet" type="text/css" href="./styles/signup.css" />
  <link rel="stylesheet" type="text/css" href="./styles/style.css" />
  <script src="/scripts/signup.js" type="text/javascript"></script>


  <div id="google_translate_element style=display: none;"></div>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
  </script>

  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  <script type="text/javascript">
    function closeTranslatePopup() {
      const popup = document.querySelector('#VIpgJd-ZVi9od-ORHb');
      if (popup) {
        setTimeout(function () {
          popup.parentNode.removeChild(popup);
        }, 500); // close popup after .5 seconds
      }
    }
    document.addEventListener('DOMContentLoaded', function () {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
      closeTranslatePopup();
    });
  </script>

<section class="vh-100" style="background-color: #eee">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up - New Account
                </p>

                <form class="mx-1 mx-md-4" action="/signup" method="POST">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="user"
                        name="username" />
                      <label class="form-label" for="form3Example1c"
                        >Username</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="email"
                        name="Email" />
                      <label class="form-label" for="form3Example1c"
                        >Email</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input
                        type="password"
                        id="form3Example4c"
                        class="form-control"
                        name="password"
                        placeholder="password" />
                      <label class="form-label" for="form3Example4c"
                        >Password</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input
                        type="password"
                        id="form3Example4cd"
                        class="form-control"
                        name="passwordRepeat"
                        placeholder="password" />
                      <label class="form-label" for="form3Example4cd"
                        >Repeat your password</label
                      >
                    </div>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg mb-3">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  <div class="container d-flex flex-column">
    <img src="LogoHeaderBar.png" id="logo">
    <h1>Sign Up</h1>
    <form id="login-form">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="email" class="form-control" id="usernameInput" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="passwordInput"
          onkeyup=check()>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Password" name="confirmPassword"
          onkeyup=check()>
        <span id="message"></span>

      </div>
      <button type="submit" class="btn colour-nav">Submit</button>
    </form>
  </div> -->
  <%- include('components/footer.ejs') %>