<%- include('components/headHTML.ejs') %>

    <body>
        <%- include('components/navbar_header.ejs') %>

            <%- include('components/roadmap.ejs') %>
                <%- include('components/footer.ejs') %>
    </body>

    </html>