<%- include('components/headHTML.ejs') %>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin: 10px;
            max-width: 90%;
        }

        ul li {
            margin-left: 10px;
            border: 2px purple solid;
            backface-visibility: hidden;
            padding: 5px;
        }
    </style>

    <body>
        <%- include('components/navbar_header.ejs') %>

            <%- include('components/roadmap.ejs') %>
                <%- include('components/footer.ejs') %>
    </body>

    </html>