   .card-img {
     filter: brightness(30%);
   }

   .main-button {
     display: flex;
   }

   .main-button button {
     display: inline-block;
   }

   #login-button {
     background-color: #6528e0;
     color: white;
     font-weight: bolder;
   }

   .line-height-custom {
     line-height: 1.75rem;
   }

   .VIpgJd-ZVi9od-ORHb-oEVmcd {
     display: none;
   }

   #google_translate_element> :first-child {
     font-size: 0;
   }

   .VIpgJd-ZVi9od-l4eHX-hSRGPD {
     display: none;
   }

   .translate-down .goog-te-menu-value {
     position: fixed !important;
     bottom: 0 !important;
     transform: translate(0, 100%) !important;
   }