.colour-navbar {
    background-color: #458A92;
    color: white;
}

.colour-purple {
    background-color: #7951A0;
}

.colour-green {
    background-color: #2DA986;
}

.colour-grey {
    background-color: #C4DBDD;
}

.colour-yellow {
    background-color: #F0C919;
}

#chatInput {
    height: 50px;
    margin-top: 20px;
}

ul>button {
    margin: 20px;
}

h1 {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.box {
    padding: 50px;
    border-radius: 20%;
}