html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    top: 0px !important; 
}

.btn {
    margin-top: 15px;
    margin-bottom: 25%;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 

.card-img {
    filter: brightness(30%);
}

.main-button {
    display: flex;
}
  
.main-button button {
    display: inline-block;  
}
  
element.style {
    z-index: 2147383647;
}

.VIpgJd-ZVi9od-ORHb-oEVmcd{
     display: none;
}
  