.btn {
    margin-top: 15px;
    margin-bottom: 25%;
}

.VIpgJd-ZVi9od-ORHb-oEVmcd{
   display: none;
} 


#google_translate_element > :first-child {
  font-size: 0;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPD{
  display: none;
}

.colour-nav {
    background-color: #458A92;
    color: white;
}

#login-form {
    margin-bottom: 100px;
}