html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* padding-top: 63px;
    padding-bottom: 63px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}


.footer-box {
    display: flex;
    flex-grow: 1;
}

.block-height-63 {
    height: 63px;
}

.block-width-36 {
    /* height: 36px; */
    width: 36px;
}

.colour-navbar {
    background-color: #458A92;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    font-size: 36px;
    color: rgb(245, 245, 245);
}

#logoutBtn {
    font-size: 9px;
}

#login-button,
#signup-button {
    font-size: 12px;
}

.shadow-custom {
    box-shadow:  0 6px 5px 0 rgba(0, 0, 0, 0.082);
    /* box-shadow: 0 0 10px 0 rgb(0, 0, 0); */
}

.remove-border {
    border: none;
}